h1{
    font-size: 150px;
    text-align: center;
    color: brown;
}
body{
    text-align: center;
    background-color: beige;

}
big{
    font-family:'Times New Roman';
    text-decoration: underline;
    font-size: 25px;

}